argcomplete==3.4.0
asgiref==3.8.1
build==1.2.1
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.28.0
cryptography==42.0.5
cssselect2==0.7.0
decli==0.6.2
defusedxml==0.7.1
Django==5.0.7
django-classy-tags==4.1.0
django-cms==4.1.2
django-entangled==0.5.4
django-filer==3.1.4
django-formtools==2.5.1
django-fsm==2.8.2
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-alias==2.0.1
djangocms-attributes-field==3.0.0
djangocms-file==3.0.1
djangocms-frontend==1.3.3
djangocms-googlemap==2.2.0
djangocms-picture==4.1.1
djangocms-snippet==3.1.1
djangocms-style==3.1.0
djangocms-text-ckeditor==5.1.5
djangocms-versioning==2.0.2
djangocms-video==3.1.0
djangorestframework==3.15.2
docutils==0.20.1
easy-thumbnails==2.9
html5lib==1.1
httpie==3.2.3
idna==3.6
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jeepney==0.8.0
Jinja2==3.1.4
keyring==25.1.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
multidict==6.0.5
nh3==0.2.17
packaging==24.1
pillow==10.4.0
pkginfo==1.10.0
polls @ git+http://git@github.com/divio/django-polls.git@74de1c47a960b53c8c66ab4463040c15019c241e
prompt-toolkit==3.0.36
pycparser==2.22
Pygments==2.17.2
PyJWT==2.9.0
pyproject_hooks==1.0.0
PySocks==1.7.1
PyYAML==6.0.1
questionary==2.0.1
readme_renderer==43.0
reportlab==4.2.2
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
SecretStorage==3.3.3
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
svglib==1.5.1
termcolor==2.4.0
tinycss2==1.3.0
tomlkit==0.13.0
twine==5.0.0
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
zipp==3.18.1
